body{
    background:rgb(148, 194, 231);
    font-family: 'Courgette', cursive;
}

.googlelens_heading, .mobilenet_heading{
    font-size: 21px;
}

h1{
    font-weight: 500;
}

.div1{
    background: lightslategrey;
    border-radius: 5px;
    color: white;
    float: none;
    height: 500px;
}

.copy_right_footer{
    position: fixed;
    background-color:lightslategrey;
    bottom: 0;
    width: 100%;
    text-align: center;
    line-height: 2;
  }