body{
    background:rgb(148, 194, 231);
    font-family: 'Courgette', cursive;
}

.googlelens_heading, .mobilenet_heading{
    font-size: 21px;
}

h1{
    font-weight: 500;
}

.copy_right_footer{
    position: fixed;
    background-color: slategrey;
    color: white;
    bottom: 0;
    width: 100%;
    text-align: center;
    line-height: 2;
}

div{
    background: lightslategrey;float: none;border-radius: 5px;
}