body{
    background: #c39a63;
    font-family: 'Courgette', cursive;
    color: white;
}

.googlelens_heading, .mobilenet_heading{
    font-size: 21px;
}

h1{
    font-weight: 500;
}

.image{
    background: #acabab;
    border-radius: 4px;
    color: white;
    float: none;
    height: 500px;
    border: 3px solid black;
}

.copy_right_footer{
    position: fixed;
    background-color: rgb(81, 81, 81);
    bottom: 0;
    width: 100%;
    text-align: center;
    line-height: 2;
    color: white;
}

#result{
    background: #acabab;
    border-radius: 4px;
    color: white;
    float: none;
    border: 3px solid white;
    font-size: 25px;
    background-color: rgb(43, 43, 43);
}